table
  {
  border-collapse:collapse;
  text-align:center;
  }

table, td, th
  { border:1px solid grey;
  }
  td,th{
    text-align:center;
    min-width:1.2em;
    padding:0 2px;
    font-size:14px;
    padding: 8px;
  }
  .equal{
    color : white;
    background: #C49F49;
  }
  .small{
    color : white;
    background: #6AC4B6;  
  }
  .big{
    color : white;
    background: #829CDD;
  }
  .leftborder{
    border-left:2px solid blue;
  }
#list{
  display:block;
  overflow-y:scroll;
  height:500px;
}
.riqi{width:7em;}
.qishu{width:5em}
.haoma{width:5em}
#list_table{margin-left:1px;}
